
    body{
	background-color: #FFFFFF;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12;
	background-image: url('/index.jpg');
}

a:link{
  color: #EFCA04;
  text-transform: capitalize;
  font-weight: bold;
}
a:visited{
	color: #00C9E6;
}
a:hover{
color: #FFFFFF;
}
a:active{
color: #874736;

}

.texture{
   color:#26170F;
   font-family: "Palatino Linotype","Book Antiqua3", "Palatino", "serif";
   font-style: italic;
   font-size: 12px;
   line-height: 20px
 } 
  